<div class="text-white">List of ALL Schools S-TFT 4</div>
<div>
    <div>
        <table mat-table [dataSource]="dataSource" class="w-100">

            <ng-container matColumnDef="schools">
              <th mat-header-cell *matHeaderCellDef> Schools </th>
              <td mat-cell *matCellDef="let element"> {{element.school}} </td>
            </ng-container>
          
            <ng-container matColumnDef="students">
              <th mat-header-cell *matHeaderCellDef> Students </th>
              <td mat-cell *matCellDef="let element"> {{element.students.length}} </td>
            </ng-container>
          
            <ng-container matColumnDef="correction">
              <th mat-header-cell *matHeaderCellDef> Correction </th>
              <td mat-cell *matCellDef="let element"> {{element.correction.length}} </td>
            </ng-container>
          
            <ng-container matColumnDef="diff">
              <th mat-header-cell *matHeaderCellDef> Diff </th>
              <td mat-cell *matCellDef="let element"> {{element.correction.length - element.students.length}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </div>
        <div class="d-flex">
            <div>
               {{dataTable?dataTable.length:0}} Total
            </div>
        </div>
</div>