/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
body{
    background: #424242;
}
.text-white{
    color: #fff !important;
}
.font-weight-bold{
    font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.justify-content-space-between{
    justify-content: space-between;
}